footer
  .container.text-center
    p.pull-left © 2016 Alpha Kappa Psi, Chi Phi Chapter. All Rights Reserved
    ul.pull-right.list-inline
      li
        | Designed by&nbsp;
        a(href='http://prashcr.xyz' target='_blank') Prashanth Chandra
